<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Golodnor01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Golodnor01.Properties.Settings.QuestionsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Questions.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Golodnor01.Properties.Settings>
            <setting name="currentPlayer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="adminPsw" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="numberOldQ" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="stringNewQs" serializeAs="String">
                <value />
            </setting>
        </Golodnor01.Properties.Settings>
    </userSettings>
</configuration>